
<div class="col-sm-12">
  <h2 class="reminder-title"><%= reminder.title %></h2>
  <span class="button-checkbox">
    <button type="button" class="btn" data-color="primary"><i class="glyphicon glyphicon-envelope"></i></button>
    <input type="checkbox" class="hidden" checked />
</span>
  <hr/>
  <div class="date-picker <%= date_type(reminder) %>"  data-date="<%= pretty_format(reminder) %>" data-keyboard="true">
    <div class="date-container pull-left">
      <h4 class="weekday"><%= pretty_format(reminder, "%A") %></h4>
      <h2 class="date"><%= pretty_format(reminder, "%B #{reminder.ordinalize}") %></h2>
      <h4 class="year pull-right"><%= pretty_format(reminder, "%Y") %></h4>
    </div>
    <span data-toggle="datepicker" data-type="subtract" class="fa fa-angle-left"></span>
    <span data-toggle="datepicker" data-type="add" class="fa fa-angle-right"></span>
    <div class="input-group input-datepicker">
      <input type="text" class="form-control" data-format="YYYY/MM/DD" placeholder="YYYY/MM/DD">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
    <span data-toggle="calendar" class="fa fa-calendar"></span>
  </div>
</div>
